*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: rgb(56, 54, 54);
    background-color: white;
    text-rendering: optimizeLegibility; 
}
header{
    background-image: linear-gradient(45deg,rgba(2,33,64,0.7) 55%,rgba(45,95,93,0.75)), url('https://1.bp.blogspot.com/-m6sMv8bnbFQ/XY82zBUFzoI/AAAAAAAAOeE/GHmlfud6GVAgy5fwMj3th6JqS9TBNVHSACLcBGAsYHQ/s1600/education_bg%2B%25283%2529.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    background-attachment: fixed;
}
 .logo{
     width: 350px;
    
     float: left;
     margin-top: 50px;
     margin-left: 70px;
 } 
 .main-nav{
     float: right;
     list-style: none;
     margin-right: 70px;
     margin-top: 60px;
 } 
 .main-nav li a{
     text-decoration: none;
     color: white;
     font-size: 110%;
     font-weight: 700;
     transition: border-bottom 0.4s;
     padding: 3px 0;
 }

 .main-nav li{
     display: inline-block;
     margin-right: 30px;
 }
 .main-nav li a:hover,
 .main-nav li a:active{
     border-bottom: 2px solid white;

 }
.clear-fix::after{
    content:" ";
    display: block;
    clear: both;

}
 .row {
     max-width: 1140px;
     margin: 0 auto;
 } 
 .heading-main-box{
     position: absolute;
     top:50%;
     left: 50%;
     transform: translate(-65%,-105%);
     width: 1140px;

 }
 h1{
     text-transform: uppercase;
     font-size: 300%;
     font-weight: 400;
     color:white;
     letter-spacing: 1px;
     word-spacing: 5px;
     line-height: 125%;
     margin-top:50px;
     
 }
 h2{

    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(226, 142, 33);
    font-size: 180%;
    text-align: center;

 }
 h2:after{
     content:" ";
     display: block;
     width: 150px;
     height: 3px;
     background-color: rgb(226, 142, 33);
     margin: 0 auto;
     margin-top: 5px;


 }
 .p-long {
    text-align: center;
    width: 70%;
    color: #284866;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 140%;
    margin-left: 15%
 }
 section{
     padding: 50px;
 }
 .row1 {
     width: 900px;
     
 }
 .row1 img{
     width: 200px ;
 }
 .btn {
     text-decoration: none;
     color: white;
     background-color: rgb(226, 142, 33);
     border-radius: 20px;
     padding: 15px 30px;
     width: 200px;
     display:inline-block;
     text-align: center;
     margin-top: 30px;
     margin-right: 10px;
     transition: all .2s;
 }
 .btn:hover,
 .btn:active {
     background-color: rgb(212, 107, 8);
 }
    
    
    
    
    
  